In [40]:
import numpy as np
import pandas as pd
import sklearn.datasets as dt
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from LVQ.lvq import LVQ3
from sklearn.preprocessing import OneHotEncoder

In [41]:
X, y = pd.read_csv("../data/raw/train_values.csv"), pd.read_csv("../data/raw/train_labels.csv")

In [42]:
X

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,1020144,10,804,1371,2,5,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,199685,25,211,5071,2,25,9,4,n,r,...,0,0,0,0,0,0,0,0,0,0
2,1038433,22,816,12104,2,10,5,4,t,r,...,0,0,0,0,0,0,0,0,0,0
3,461920,6,449,3741,1,10,8,3,t,r,...,0,0,0,0,0,0,0,0,0,0
4,957027,20,254,5266,2,10,10,6,n,w,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208475,788768,22,165,10190,2,30,5,4,t,r,...,0,0,0,0,0,0,0,0,0,0
208476,490379,27,269,5197,3,80,5,6,t,r,...,0,0,0,0,0,0,0,0,0,0
208477,294228,26,1259,10829,1,10,4,6,t,r,...,0,0,0,0,0,0,0,0,0,0
208478,464117,7,258,1869,1,15,6,3,t,r,...,0,0,0,0,0,0,0,0,0,0
208479,652585,26,366,2116,2,20,8,5,o,r,...,0,0,0,0,0,0,0,0,0,0

In [43]:
df = pd.merge(X, y,left_on="building_id", right_on="building_id").iloc[:,1:]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208480 entries, 0 to 208479
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   geo_level_1_id                          208480 non-null  int64
 1   geo_level_2_id                          208480 non-null  int64
 2   geo_level_3_id                          208480 non-null  int64
 3   count_floors_pre_eq                     208480 non-null  int64
 4   age                                     208480 non-null  int64
 5   area_percentage                         208480 non-null  int64
 6   height_percentage                       208480 non-null  int64
 7   land_surface_condition                  208480 non-null  object
 8   foundation_type                         208480 non-null  object
 9   roof_type                               208480 non-null  object
 10  ground_floor_type                       208480 non-null  object
 11  other_floor_type                        208480 non-null  object
 12  position                                208480 non-null  object
 13  plan_configuration                      208480 non-null  object
 14  has_superstructure_adobe_mud            208480 non-null  int64
 15  has_superstructure_mud_mortar_stone     208480 non-null  int64
 16  has_superstructure_stone_flag           208480 non-null  int64
 17  has_superstructure_cement_mortar_stone  208480 non-null  int64
 18  has_superstructure_mud_mortar_brick     208480 non-null  int64
 19  has_superstructure_cement_mortar_brick  208480 non-null  int64
 20  has_superstructure_timber               208480 non-null  int64
 21  has_superstructure_bamboo               208480 non-null  int64
 22  has_superstructure_rc_non_engineered    208480 non-null  int64
 23  has_superstructure_rc_engineered        208480 non-null  int64
 24  has_superstructure_other                208480 non-null  int64
 25  legal_ownership_status                  208480 non-null  object
 26  count_families                          208480 non-null  int64
 27  has_secondary_use                       208480 non-null  int64
 28  has_secondary_use_agriculture           208480 non-null  int64
 29  has_secondary_use_hotel                 208480 non-null  int64
 30  has_secondary_use_rental                208480 non-null  int64
 31  has_secondary_use_institution           208480 non-null  int64
 32  has_secondary_use_school                208480 non-null  int64
 33  has_secondary_use_industry              208480 non-null  int64
 34  has_secondary_use_health_post           208480 non-null  int64
 35  has_secondary_use_gov_office            208480 non-null  int64
 36  has_secondary_use_use_police            208480 non-null  int64
 37  has_secondary_use_other                 208480 non-null  int64
 38  damage_grade                            208480 non-null  int64
dtypes: int64(31), object(8)
memory usage: 63.6+ MB

In [45]:
df.iloc[:,-1]

0         2
1         2
2         2
3         2
4         3
         ..
208475    1
208476    2
208477    3
208478    3
208479    2
Name: damage_grade, Length: 208480, dtype: int64

In [46]:
from imblearn.over_sampling import SMOTENC
sm = SMOTENC(random_state=42, categorical_features=[7,8,9,10,11,12,13,25])

In [47]:
X, y = df.iloc[:,:-1], df.iloc[:,-1]

In [49]:
X_res, y_res = sm.fit_resample(X, y)

In [50]:
X_res

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,10,804,1371,2,5,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
1,25,211,5071,2,25,9,4,n,r,q,...,0,0,0,0,0,0,0,0,0,0
2,22,816,12104,2,10,5,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0
3,6,449,3741,1,10,8,3,t,r,q,...,0,0,0,0,0,0,0,0,0,0
4,20,254,5266,2,10,10,6,n,w,q,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356017,5,598,5662,2,995,6,8,t,r,n,...,0,0,0,0,0,0,0,0,0,0
356018,27,533,5800,3,15,19,9,t,r,n,...,0,0,0,0,0,0,0,0,0,0
356019,21,313,11708,3,15,5,5,t,r,q,...,0,0,0,0,0,0,0,0,0,0
356020,6,1126,11865,1,25,6,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
356021,4,55,2653,2,5,5,5,t,r,q,...,0,0,0,0,0,0,0,0,0,0

In [51]:
y_res

0         2
1         2
2         2
3         2
4         3
         ..
356017    3
356018    3
356019    3
356020    3
356021    3
Name: damage_grade, Length: 356022, dtype: int64

In [52]:
np.unique(y_res, return_counts=True)

(array([1, 2, 3]), array([118674, 118674, 118674]))

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208480 entries, 0 to 208479
Data columns (total 38 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   geo_level_1_id                          208480 non-null  int64
 1   geo_level_2_id                          208480 non-null  int64
 2   geo_level_3_id                          208480 non-null  int64
 3   count_floors_pre_eq                     208480 non-null  int64
 4   age                                     208480 non-null  int64
 5   area_percentage                         208480 non-null  int64
 6   height_percentage                       208480 non-null  int64
 7   land_surface_condition                  208480 non-null  object
 8   foundation_type                         208480 non-null  object
 9   roof_type                               208480 non-null  object
 10  ground_floor_type                       208480 non-null  object
 11  other_floor_type                        208480 non-null  object
 12  position                                208480 non-null  object
 13  plan_configuration                      208480 non-null  object
 14  has_superstructure_adobe_mud            208480 non-null  int64
 15  has_superstructure_mud_mortar_stone     208480 non-null  int64
 16  has_superstructure_stone_flag           208480 non-null  int64
 17  has_superstructure_cement_mortar_stone  208480 non-null  int64
 18  has_superstructure_mud_mortar_brick     208480 non-null  int64
 19  has_superstructure_cement_mortar_brick  208480 non-null  int64
 20  has_superstructure_timber               208480 non-null  int64
 21  has_superstructure_bamboo               208480 non-null  int64
 22  has_superstructure_rc_non_engineered    208480 non-null  int64
 23  has_superstructure_rc_engineered        208480 non-null  int64
 24  has_superstructure_other                208480 non-null  int64
 25  legal_ownership_status                  208480 non-null  object
 26  count_families                          208480 non-null  int64
 27  has_secondary_use                       208480 non-null  int64
 28  has_secondary_use_agriculture           208480 non-null  int64
 29  has_secondary_use_hotel                 208480 non-null  int64
 30  has_secondary_use_rental                208480 non-null  int64
 31  has_secondary_use_institution           208480 non-null  int64
 32  has_secondary_use_school                208480 non-null  int64
 33  has_secondary_use_industry              208480 non-null  int64
 34  has_secondary_use_health_post           208480 non-null  int64
 35  has_secondary_use_gov_office            208480 non-null  int64
 36  has_secondary_use_use_police            208480 non-null  int64
 37  has_secondary_use_other                 208480 non-null  int64
dtypes: int64(30), object(8)
memory usage: 62.0+ MB

In [54]:
col = X_res.select_dtypes(include="object")
enc = OneHotEncoder(sparse_output=False, handle_unknown="infrequent_if_exist", drop="if_binary")
val = pd.DataFrame(enc.fit_transform(col))
fin = X_res.select_dtypes(exclude="object")

In [55]:
val

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356017,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356018,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356019,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356020,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356021,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [56]:
result = pd.concat([fin, val], axis=1)
result

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,28,29,30,31,32,33,34,35,36,37
0,10,804,1371,2,5,7,6,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,25,211,5071,2,25,9,4,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,22,816,12104,2,10,5,4,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6,449,3741,1,10,8,3,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,20,254,5266,2,10,10,6,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356017,5,598,5662,2,995,6,8,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356018,27,533,5800,3,15,19,9,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356019,21,313,11708,3,15,5,5,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356020,6,1126,11865,1,25,6,3,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
356021,4,55,2653,2,5,5,5,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [57]:
X_scaled = StandardScaler().fit_transform(result.values)
X_scaled

array([[-0.59579677,  0.27274631, -1.33331424, ..., -0.06932823,
         0.20466196, -0.09120368],
       [ 1.25505728, -1.13739869, -0.32425674, ..., -0.06932823,
         0.20466196, -0.09120368],
       [ 0.88488647,  0.30128213,  1.59377067, ..., -0.06932823,
         0.20466196, -0.09120368],
       ...,
       [ 0.7614962 , -0.89484424,  1.48577424, ..., -0.06932823,
         0.20466196, -0.09120368],
       [-1.08935786,  1.03845743,  1.52859101, ..., -0.06932823,
         0.20466196, -0.09120368],
       [-1.3361384 , -1.50836432, -0.98368945, ..., -0.06932823,
         0.20466196, -0.09120368]])

In [73]:
ty = y_res - 1
X_train, X_test, y_train, y_test = tts(X_scaled, ty, test_size=0.3, shuffle=True, random_state=15)

In [76]:
np.unique(y_train, return_counts=True)

(array([0, 1, 2]), array([83236, 83047, 82932]))

In [74]:
y_train

349132    2
293411    0
339938    2
28276     1
12582     2
         ..
104832    2
180087    1
199301    1
270220    0
269768    0
Name: damage_grade, Length: 249215, dtype: int64

In [84]:
output_size = np.unique(ty).shape[0]
input_size = X_train.shape[1]

one = LVQ3(input_size, output_size, random_state=21, epoch=100, alpha=0.65, beta=0.35, m=0.2,epsilon=0.3)
one.fit(X_train, y_train)

In [85]:
one.weight

array([[-8.17914247e-01,  1.11062055e-01,  8.15728408e-01,
         5.43095686e-01, -2.63950786e-01,  1.92148665e-01,
         1.16851082e+00, -3.71454421e-01, -8.26579099e-01,
        -1.58988779e-01, -1.22133779e-01, -3.45842006e-01,
         2.21310867e+00, -4.43053121e-01, -9.86514324e-02,
         2.85789573e+00, -1.55359716e-01, -1.01932881e-01,
        -2.66698938e-01,  3.05729132e+00,  9.04394201e-01,
         3.30042451e-01, -8.86557928e-02, -1.82312879e-02,
        -7.41950040e-03, -2.07402348e-02, -1.03500400e-02,
         6.85488689e+01, -1.07312994e-02, -6.36188958e-02,
        -3.54753850e-01, -1.63298539e-01,  3.97464205e-01,
        -8.25837247e-02,  2.22665876e+00, -1.22252125e+00,
        -2.58311777e-01, -1.39727281e-01, -9.87761471e-01,
        -3.96029043e-01,  1.93560286e+00, -1.11048475e+00,
        -3.38308033e-02,  1.52921785e+00, -2.94310070e-01,
        -5.82797250e-02, -4.83893404e-01, -6.18223805e-01,
         2.37612586e+00, -4.23474865e-01, -2.17463212e-01,
        -4.29804824e-01, -1.11469685e+00,  1.51515950e+00,
        -3.68501196e-02, -3.03552334e-02,  1.70907863e-01,
        -5.86250704e-03, -3.27418980e-03, -1.17774170e-02,
        -1.47996678e-02, -1.24063223e-01, -2.55789382e-02,
        -1.06302181e-01, -1.60134736e-01, -6.92889658e-02,
         2.07032621e-01, -9.10953782e-02],
       [-2.46490870e+00,  2.11594351e-01, -1.38595730e+00,
         2.21435520e+00,  1.17011377e+00, -7.99317829e+00,
         1.98282071e+00, -1.29190730e+00,  3.48861209e+00,
         1.04909700e+00,  1.31554028e+00, -8.32257243e-01,
        -4.45569799e+00, -7.01192297e-01, -2.38188160e-01,
        -2.43111172e-01,  3.14413921e-01,  9.85668211e-02,
         1.48067503e+00, -5.81054650e+00, -1.71164600e+00,
        -7.32077264e+00, -8.68355627e-01,  1.00782034e+00,
        -6.08321217e-01,  5.66100257e-01,  1.33832873e+00,
        -1.34680032e+00,  8.90201017e-01, -1.42730071e+00,
         2.31602477e-01, -9.86041465e-02,  3.70102555e-01,
         9.22931286e-01, -4.96933640e+00,  8.16800585e-01,
         4.82286500e-01,  8.41524619e-01,  2.10061810e+00,
         6.56145794e-01, -6.11043123e+00,  3.39206420e+00,
         1.53281369e+00, -3.14816140e+00,  7.77348394e-01,
        -8.34362821e-02,  1.59314989e+00,  3.63318904e+00,
        -7.45642065e+00,  7.92101610e-01,  3.75135353e-01,
        -2.00855035e-02, -4.76964754e-01, -2.03641753e-01,
        -6.61092330e-01,  8.71915706e-01,  5.77294188e-01,
        -1.05593484e+00,  8.25546943e-01,  9.03858135e-01,
         7.61886120e-01, -7.78189148e-01, -5.17474771e-01,
        -6.45147044e-01,  1.34587554e+00,  1.37646532e+00,
         2.55742856e-01, -1.08201464e+00],
       [-2.10907161e+00,  4.36216996e+00, -4.49161174e+00,
         8.66658359e-02,  9.39485531e-01, -1.53896292e+00,
        -1.30113428e+00,  6.78042924e+00, -9.54025574e-01,
        -4.98680033e-01,  1.41501398e-01,  7.93826912e+00,
        -3.32371385e+00, -2.44460340e+00, -3.01385723e+00,
        -3.83057859e+00, -1.28284685e+00,  9.37014081e-01,
        -4.20045671e+00, -2.81897265e+00,  1.09609569e+00,
        -4.15134084e-01, -9.08267536e-01, -4.82856780e-01,
         5.51689186e-01, -6.67412845e-01, -7.30751557e-01,
        -6.73601057e+01,  1.27224100e-01,  8.01078547e-01,
         1.45395547e+00, -6.16911849e-01, -1.23853234e-01,
        -1.10857489e+00, -6.25174792e-01,  3.59293166e+00,
         6.28707861e-01, -2.98994299e+00,  3.78029353e+00,
        -2.68516300e+00, -2.03757184e+00,  2.53747452e+00,
        -5.45860877e-01, -5.93427450e-01,  1.66779435e+00,
         6.68522820e-01, -3.38334410e-01,  2.27647843e+00,
        -2.48367656e+00,  1.66746345e+00, -1.03780867e+00,
         2.36094919e+01, -2.32840406e+00, -3.10247980e+00,
         5.29815876e-01, -8.43258432e-01, -4.01828482e-02,
         3.78574726e-02, -1.22832489e+00,  9.95788034e-01,
         1.46576839e+00,  3.54080605e-01, -2.84655126e-01,
         5.48955643e-01, -2.32207180e-01,  3.39087818e-01,
        -3.28824946e-01, -1.03935612e+00]])

In [86]:
y_train

349132    2
293411    0
339938    2
28276     1
12582     2
         ..
104832    2
180087    1
199301    1
270220    0
269768    0
Name: damage_grade, Length: 249215, dtype: int64

In [87]:
res

array([1, 1, 1, ..., 1, 1, 1])

In [91]:
np.unique(res, return_counts=True)

(array([0, 1]), array([     6, 106801]))

In [89]:
res = one.predict(X_test)
print(classification_report(res, y_test, zero_division=1))

              precision    recall  f1-score   support

           0       0.00      0.33      0.00         6
           1       1.00      0.33      0.50    106801
           2       0.00      1.00      0.00         0

    accuracy                           0.33    106807
   macro avg       0.33      0.56      0.17    106807
weighted avg       1.00      0.33      0.50    106807